<h1>Listing boxes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Desciption</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boxes.each do |box| %>
  <tr>
    <td><%= box.title %></td>
    <td><%= box.desciption %></td>
    <td><%= box.image %></td>
    <td><%= link_to 'Show', box %></td>
    <td><%= link_to 'Edit', edit_box_path(box) %></td>
    <td><%= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Box', new_box_path %>
